body {
    background-color: #e4e4e4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 2.5rem;
    color: #bdbbbb;
    -webkit-text-stroke: 2px green;
}

.contenedor {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #dbdbdb;
    box-shadow: 1px 1px 10px black;
}

img {
    height: 45vh;
}

input[type="text"] {
    margin-top: 2vh;
    padding: 10px;
    width: 70%;
    border: none;
    background-color: #dbdbdb;
    border-bottom: 1px solid black;
    border-radius: 5px;
    font-size: 2rem;
}

input[type="text"]:focus {
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(143, 143, 143);
}

input[type="text"]::placeholder {
    color: rgb(145, 147, 165);
    font-size: 1.1rem;
}

input[type="text"]:focus::placeholder {
    color: rgb(187, 187, 187);
    font-size: 1rem;
}

button {
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: green;
    color: white;
    cursor: pointer;
    margin-left: .5vw;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 15px rgb(124, 228, 124);
    font-size: 1rem;
}

@media (max-width:1024px) {
    .contenedor {
        background-color: #e4e4e4;
        box-shadow: none;
    }

    input[type="text"] {
        width: 80%;
    }

    button {
        margin-top: 1vh;
        width: 40%;
    }
}