body {
    background-color: #e4e4e4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contenedor {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #dbdbdb;
    box-shadow: 1px 1px 10px black;
}

img {
    height: 25vh;
}

input[type="text"] {
    margin-top: 2vh;
    padding: 10px;
    width: 70%;
    border: none;
    background-color: #dbdbdb;
    border-bottom: 1px solid black;
}

input[type="text"]:focus {
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(143, 143, 143);
}

input[type="text"]::placeholder {
    color: rgb(145, 147, 165);
    font-size: 1.1rem;
}

input[type="text"]:focus::placeholder {
    color: rgb(187, 187, 187);
    font-size: 1rem;
}

button {
    width: 22%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: green;
    color: white;
    cursor: pointer;
    margin-left: .5vw;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 15px rgb(124, 228, 124);
    font-size: 1rem;
}